{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <image src="{% static "images/BlogIcon.png" %}" style="width:48px;height:48px;"></image>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="/" class="mr-5 hover:text-gray-900">My Blogs</a>
                <a href="/profile" class="mr-5 hover:text-gray-900">Profile</a>
                <a href="/about" class="mr-5 hover:text-gray-900">About</a>
                <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
            </nav>
            <div class="flex items-center justify-between">
                <a href="/login" id="loginbtn">
                    <button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Login
                    </button>
                </a>
                <br>
                <a href="/logout" id="logoutbtn">
                    <button
                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Logout
                    </button>
                </a>
            </div>
        </div>
    </header>
    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Sign In</h1>
                <div class="flex justify-center">
                    <form class="w-full max-w-sm" id="login-form" method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                            role="alert">
                            <span class="block sm:inline">
                                {{ form.non_field_errors }}
                            </span>
                        </div>
                        <br>
                        {% endif %}
                        {% for field in form %}
                        <div class="mb-6">
                            <div class="flex justify-center">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="flex items-center justify-between">
                            <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">
                                Sign In
                            </button>
                            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                                href="#">
                                Forgot Password?
                            </a>
                        </div>
                        <br>
                        <div class="flex justify-center">
                            <a href="/register">
                                <button
                                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                                    type="button">
                                    Sign Up
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function disable_enable(el) {
            el.disabled = true;
            if (el.value == 'login')
                document.test.logout.disabled = false;
            else
                document.test.login.disabled = false;
        }
    </script>
</body>

</html>